.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

body {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Lobster', cursive;
  color: #00af91;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 400px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.skill-image {
  height: 100px;
  width: 100px;
  border-radius: 20%;
  float:left;
  margin-right:20px;
}

p {
  font-family: 'Bodoni Moda', serif;
  color:#17b978;
}

h2 {
  font-family: 'Potta One', cursive;
  color:#ff8264;
}
.algorithm{
  height:200px;
  width:100px;
  float:right;
  margin-left:20px;

}
.skill-row{
  width:50%;
  margin: 100px auto 100px auto ;
  text-align:left;
  line-height:2;
}
.skill-image{
  width:25%;
}
.algorithm{
  width:25%;
}
.first{
  font-family: 'Lobster', cursive;
  color: #00af91;
}
h3{
  color:#ff8264;
}
.footer-link{
  color:#00bbf0;
}
.btn{
  color:#00bbf0;
}
.profile{
  float:left;
  margin-right:20px;
  width:15%;
}
